extends basis/layout

block content
	form(method="post" enctype="multipart/form-data" action="/draft/" + data1.id)
		input(type="hidden" value=data1.images)#max_img
		input(type="text" name="title" value=data1.title)
		br
		textarea(name="text" id="article_text")=data1.text
		br
		input(type="text" name="tags" value=data1.tags)
		br
		select(name="hub")
			- for(var i = 0; i < data0.length; i++)
				- if(data0[i].id == data1.hub)
					option(value=data0[i].id selected)=data0[i].name
				- else 
					option(value=data0[i].id)=data0[i].name
		br
		h3 Загруженные изображения:
		ul
			- for(var i = 0; i < data1.images; i++)
				li
					img(src="/source/illustrations/" + data1.id + "/img" + i + ".png", alt="illustration" style="width: 100px;")
		article.files
			input(type="file" name="f" + data1.images class="image_load" data-load="true")
			br
		input(type="submit" value="Сохранить изменения")