extends basis/layout

block content
	h1 Раздел «#{data1.name}»
	- if(data3)
		form(action="/hub/" + data1.name method="post")
			- var sub_hubs = JSON.parse(data3.profile.sub_hubs)
			- if(sub_hubs.indexOf(data1.name) == -1)
				input(type="submit" value="Подписаться")
			- else
				input(type="submit" value="Отписаться")
	- each item in data0
		h2=item.title
		p Тэги - #{item.tags}
		h3 Автор #{item.user.name}
		p!=item.text
		a(href="/article/" + item.id)
			input(type="button" value="Читать полностью")
		br
	- if(data2.current != 0)
		- var prev = +data2.current - 1
		a(href="/hub/" + data1.addr + '/' + prev)
			input(type="button" value="Предыдущая")
	- if(data2.current != data2.total)
		- var next = +data2.current + 1
		a(href="/hub/" + data1.addr + '/' + next)
			input(type="button" value="Следующая")