extends basis/layout

block content
	h1 Тег «#{data1}»
	- each item in data0
		h2=item.title
		p Тэги - #{item.tags}
		h3 Автор #{item.user.name}
		p!=item.text
		a(href="/article/" + item.id)
			input(type="button" value="Читать полностью")
		br
	- if(data2.current != 0)
		- var prev = +data2.current - 1
		a(href="/tag/" + data1 + '/' + prev)
			input(type="button" value="Предыдущая")
	- if(data2.current != data2.total)
		- var next = +data2.current + 1
		a(href="/tag/" + data1 + '/' + next)
			input(type="button" value="Следующая")